[user]
	name = okabe-yuya
	email = takamizawa46@gmail.com
[core]
	autocrlf = input
[push]
	default = current
[branch]
	sort = -authordate

[alias]
  st = status
  sts = status -s
  b = branch

  a = add
  d = diff

  l = log
  lo = log --outline

  co = commit
  cho = checkout
  s = switch

  m = merge
  rb = rebase

  ps = push
  pl = pull
  cl = clone

