[user]
	name = okabe-yuya
	email = takamizawa46@gmail.com
[core]
	autocrlf = input
  excludesFile = ~/.gitignore
  pager = delta

[push]
	default = current
[branch]
	sort = -authordate

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictStyle = zdiff3

